@charset "UTF-8";

*{
    margin: 0PX;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    background: url(imagens/grey_checker_pattern_background_by_ab_cs_center_d73sctt-pre.jpg) no-repeat ;
    background-size: cover;
    background-position: center center;
    text-align: center; 
}
div#tabela{
    overflow-x: auto;
}
table{
    color: white;
    display: inline;
}
td,th{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px 13px;
    
}
td:hover{
    background-color: rgba(0, 0, 0, 0.568);
}
th,td.vazio{
    border: none;
}

td.vazio:hover{
    background-color:  rgba(255, 255, 255, 0);
}
sup{
    position: relative;
    left: 20%;
}
div.tipos{
    display: inline-block;
    margin-top: 20px;
}
div > p{
    color: white;
    text-align: left;
    font-size: 1.1em;
    padding: 10px 10px;
}
